.env
/node_modules/
/storage/uploads/*
/storage/board/*
/storage/backups/*
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/.installed
!/storage/.gitkeep
!/storage/uploads/.gitkeep
!/storage/board/.gitkeep
!/storage/logs/.gitkeep
*.log
.DS_Store
Thumbs.db
storage/sessions/
